<p>
  round menu auto position display is normal, getting out of the containing div.
  overriding the context below it
</p>


<div style="position:relative;background-color: #88e991;border: 1px #2651e7 solid;width: 300px;height: 100px">
  <cool-round-menu [displayMod]="1" [actions]="actions"></cool-round-menu>
</div>
<p style="height: 100px">
         dsfs sdfsdf dfdsfdsfsdfsdfsdfsfsd        this is override by the round component
</p>
<p>
  round menu positioned in several places display is minimized
</p>
<div style="position:relative;background-color: #3ee9c7;border: 1px red solid;width: 300px;height: 200px">
  <div class="circle-holder">
    <cool-round-menu [actions]="actions"></cool-round-menu>
  </div>
  <div class="circle-holder1">
    <cool-round-menu [actions]="actions"></cool-round-menu>
  </div>
  <div class="circle-holder2">
    <cool-round-menu [actions]="actions"></cool-round-menu>
  </div>

</div>


<p>
  round menu auto position display is normal, it is NOT getting out of the containing div.
  some of the actions are hidden.
</p>

<div style="overflow: hidden;background-color: #f6ff43;border: 1px #2651e7 solid;width: 300px;height: 100px">
  <cool-round-menu [displayMod]="1" [actions]="actions"></cool-round-menu>
</div>

<div style="position:relative;background-color: darksalmon;border: 1px red solid;width: 300px;height: 200px">


</div>
