    <!--<div class="toggle-wrapper">-->
      <!--<input type="checkbox" class="toggle toggle-custom"    [checked]="isChecked"-->
             <!--(change)="onChange($event.target)"-->
              <!--#check/>-->

    <!--</div>-->


<!--<div class="container">-->
  <!--<div style="width:50px">-->
    <label class="switch">
      <input type="checkbox"
             checked
             #check
             (change)="onChange($event.target)"
             [checked]="isChecked">
      <div class="slider round"></div>
    </label>
  <!--</div>-->
<!--</div>-->
